.LoginWrapper {
  margin: 8.75rem 0;
  min-height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: ease all 0.5s;
}

.LoginBody {
  color: #333;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: fit-content;
  padding: 0 17.5rem;
  gap: 20px;

  transition: ease all 0.5s;

  h1 {
    font-weight: 700;
    transition: ease all 0.5s;
  }

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed #333;

    transition: ease all 0.5s;

    &:hover {
      border-bottom: 1px solid #333;
    }

    &:active {
      color: var(--red);
      border-bottom: 1px solid var(--red);
    }
  }
}

.LoginForm {
  display: flex;
  flex-direction: column;

  gap: 12px;

  .LoginFormInput {
    display: flex;
    flex-direction: column;

    gap: 10px;

    input {
      width: 320px;
      height: 48px;
      border-radius: 8px;

      font-size: 1.125rem;
      font-weight: 600;

      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      outline: none;
      transition: ease all 0.5s;

      padding: 8px 12px;

      &:focus {
        border: 2px solid var(--red);
      }
    }
  }

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed #333;

    align-self: flex-end;
    transition: ease all 0.5s;

    &:hover {
      border-bottom: 1px solid #333;
    }

    &:active {
      color: var(--red);
      border-bottom: 1px solid var(--red);
    }
  }

  .LoginSubmit {
    color: var(--white);
    background-color: var(--red);

    font-size: 1.5rem;
    font-weight: 700;

    width: 320px;
    height: 52px;
    border-radius: 8px;

    border: none;
    outline: none;
    cursor: pointer;
    transition: ease all 0.5s;

    &:hover {
      background-color: var(--red-dark);
    }

    &:active {
      background-color: var(--red-dark);
    }
  }
}

@media (max-width: 1600px) {
  .LoginBody {
    padding: 0 12.5rem;
  }

  .LoginWrapper {
    margin: 8rem 0;
  }
}

@media (max-width: 1024px) {
  .LoginBody {
    padding: 0 9.5rem;
  }

  .LoginWrapper {
    margin: 7.25rem 0;
  }
}

@media (max-width: 928px) {
  .LoginBody {
    padding: 0 6.25rem;
  }

  .LoginWrapper {
    margin: 6.5rem 0;
  }
}

@media (max-width: 688px) {
  .LoginBody {
    padding: 0 1.5rem;
  }

  .LoginWrapper {
    margin: 5.75rem 0;
  }

  a {
    font-size: 1.3rem;
  }
}
