@import '../../global.scss';

.RegisterWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8.75rem 0;
  min-height: fit-content;
  transition: ease all 0.5s;
}

.RegisterBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: $grey-black;
  min-height: fit-content;
  padding: 0 17.5rem;
  transition: ease all 0.5s;

  h1 {
    align-self: center;
    font-weight: 700;
    transition: ease all 0.5s;
  }

  a {
    color: inherit;
    border-bottom: 1px dashed $grey-black;
    text-decoration: none;
    transition: ease all 0.5s;

    &:hover {
      border-bottom: 1px solid $grey-black;
    }

    &:active {
      color: $red;
      border-bottom: 1px solid $red;
    }
  }
}

.RegisterForm {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .RegisterFormInput {
    display: flex;
    flex-direction: column;
    gap: 14px;

    p {
      align-self: center;
      width: 300px;
      font-weight: 600;
      font-size: 1.125rem;
      text-align: center;
      word-wrap: wrap;
      transition: ease all 0.5s;
    }

    input {
      width: 320px;
      height: 48px;
      border-radius: 8px;
      border: 1px solid rgba($color: $black, $alpha: 0.1);
      outline: none;
      padding: 8px 12px;
      font-size: 1.125rem;
      font-weight: 600;
      transition: ease all 0.5s;

      &:focus {
        border: 2px solid $red;
      }
    }
  }

  a {
    align-self: flex-end;
    color: inherit;
    border-bottom: 1px dashed $grey-black;
    text-decoration: none;
    transition: ease all 0.5s;

    &:hover {
      border-bottom: 1px solid $grey-black;
    }

    &:active {
      color: $red;
      border-bottom: 1px solid $red;
    }
  }

  .RegisterSubmit {
    color: $white;
    background-color: $red;
    width: 320px;
    height: 52px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: ease all 0.5s;

    &:hover {
      background-color: $red-dark;
    }

    &:active {
      background-color: $red-dark;
    }
  }
}

@media (max-width: 1600px) {
  .RegisterBody {
    padding: 0 12.5rem;
  }

  .RegisterWrapper {
    margin: 8rem 0;
  }
}

@media (max-width: 1024px) {
  .RegisterBody {
    padding: 0 9.5rem;
  }

  .RegisterWrapper {
    margin: 7.25rem 0;
  }
}

@media (max-width: 928px) {
  .RegisterBody {
    padding: 0 6.25rem;
  }

  .RegisterWrapper {
    margin: 6.5rem 0;
  }
}

@media (max-width: 688px) {
  .RegisterBody {
    padding: 0 1.5rem;
  }

  .RegisterWrapper {
    margin: 5.75rem 0;
  }
}
