@import '../../global.scss';

.HomeItem {
  background-color: $white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 324px;
  padding: 1rem;
  border-radius: 8px;
  gap: 12px;

  box-shadow: 0px 1px 4px 0px rgba($color: $black, $alpha: 0.05);
  transition: ease all 0.5s;

  a {
    align-self: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;

    .HomeItemImage {
      display: block;
      margin: 0;

      max-height: 14rem;
    }
  }

  .HomeItemBody {
    display: flex;
    flex-direction: column;

    .HomeItemName {
      color: $grey-black;

      font-size: 1.125rem;
      font-weight: 500;
      width: 90%;
      align-self: center;
      text-align: center;

      word-wrap: break-word;
      margin: 0 0 8px 0;
    }

    .HomeItemPrice {
      width: 90%;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: end;
      align-self: center;

      margin-bottom: 10px;
    }

    .HomeItemAdd {
      color: $white;
      background-color: $red;

      font-size: 1.5rem;
      font-weight: 700;

      padding: 8px 0;
      border-radius: 8px;
      border: none;
      outline: none;

      cursor: pointer;
      transition: ease all 0.5s;

      &:hover {
        background-color: $red-dark;
      }
    }
  }
}

@media (max-width: 1600px) {
  .HomeItemImage {
    max-height: 13rem !important;
  }
}

@media (max-width: 1024px) {
  .HomeItemImage {
    max-height: 12rem !important;
  }
}

@media (max-width: 928px) {
  .HomeItemImage {
    max-height: 11rem !important;
  }
}

@media (max-width: 688px) {
  .HomeItemName {
    font-size: 1.4rem !important;
  }

  .HomeItemPrice {
    font-size: 1.65rem !important;
  }

  .HomeItemImage {
    max-height: 10rem !important;
  }
}
