.ForgotPasswordWrapper {
  margin: 8.75rem 0;
  min-height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: ease all 0.5s;
}

.ForgotPasswordBody {
  color: #333;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: fit-content;
  padding: 0 17.5rem;
  gap: 20px;

  transition: ease all 0.5s;

  h1 {
    font-weight: 700;
    transition: ease all 0.5s;
    align-self: center;
  }
}

.ForgotPasswordForm {
  display: flex;
  flex-direction: column;

  gap: 24px;

  .ForgotPasswordFormInput {
    display: flex;
    flex-direction: column;

    gap: 14px;

    p {
      font-weight: 600;
      font-size: 1.125rem;

      width: 300px;
      word-wrap: wrap;
      text-align: center;
      align-self: center;

      transition: ease all 0.5s;
    }

    input {
      width: 320px;
      height: 48px;
      border-radius: 8px;

      font-size: 1.125rem;
      font-weight: 600;

      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      outline: none;
      transition: ease all 0.5s;

      padding: 8px 12px;

      &:focus {
        border: 2px solid var(--red);
      }
    }
  }

  .ForgotPasswordSubmit {
    color: var(--white);
    background-color: var(--red);

    font-size: 1.5rem;
    font-weight: 700;

    width: 320px;
    height: 52px;
    border-radius: 8px;

    border: none;
    outline: none;
    cursor: pointer;
    transition: ease all 0.5s;

    &:hover {
      background-color: var(--red-dark);
    }

    &:active {
      background-color: var(--red-dark);
    }
  }
}

@media (max-width: 1600px) {
  .ForgotPasswordBody {
    padding: 0 12.5rem;
  }

  .ForgotPasswordWrapper {
    margin: 8rem 0;
  }
}

@media (max-width: 1024px) {
  .ForgotPasswordBody {
    padding: 0 9.5rem;
  }

  .ForgotPasswordWrapper {
    margin: 7.25rem 0;
  }
}

@media (max-width: 928px) {
  .ForgotPasswordBody {
    padding: 0 6.25rem;
  }

  .ForgotPasswordWrapper {
    margin: 6.5rem 0;
  }
}

@media (max-width: 688px) {
  .ForgotPasswordBody {
    padding: 0 1.5rem;
  }

  .ForgotPasswordWrapper {
    margin: 5.75rem 0;
  }

  p {
    font-size: 1.25rem !important;
  }
}
