@import '../../global.scss';

.Header {
  background-color: $white-grey;
  color: $grey-black;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 8.125rem;
  padding: 0 17.5rem;

  transition: ease all 0.5s;
}

.LogoImg {
  transition: ease all 0.5s;
}

.HeaderLinks {
  display: flex;
  align-items: center;
  gap: 36px;

  a {
    color: inherit;

    font-weight: 600;
    font-size: 1.125rem;
    text-decoration: none;

    -webkit-user-drag: none;
    transition: ease all 0.5s;

    &:hover:not(:last-child) {
      border-bottom: 1px solid $grey-black;
    }

    &:active:not(:last-child) {
      color: $red;
      border-bottom: 1px solid $red;
    }

    &:last-child {
      color: $white;
      background-color: $red;

      padding: 8px 16px;
      border-radius: 9999px;

      transition: ease all 0.5s;
    }

    &:last-child:hover {
      background-color: $red-dark;
    }

    &:last-child:active {
      background-color: $red-dark;
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    transition: ease all 0.5s;

    &:hover {
      color: $red;
    }

    &:active {
      color: $red;
    }
  }
}

.HeaderDrawer {
  display: none;

  button {
    color: $red;
    background: none;

    height: 55px;
    width: 55px;
    padding: 10px;

    border: none;
    border-radius: 100%;
    cursor: pointer;

    transition: ease all 0.5s;

    &:active {
      color: $white;
      background-color: $red;
    }
  }
}

.HeaderDrawerLinks {
  display: flex;
  flex-direction: column;

  width: 200px;
  padding: 30px 0;
  gap: 10px;

  transition: ease all 0.5s;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    color: inherit;
    background: none;

    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;

    padding: 8px 20px;
    border: none;
    cursor: pointer;

    -webkit-user-drag: none;
    transition: ease all 0.5s;

    &:active {
      color: $white;
      background-color: $red;
    }
  }

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    color: inherit;
    background: none;

    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;

    padding: 8px 20px;
    border: none;
    cursor: pointer;

    -webkit-user-drag: none;
    transition: ease all 0.5s;

    &:hover {
      color: $red;
    }

    &:active {
      color: $red;
    }
  }
}

.MuiDrawer-paper {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
}

@media (max-width: 1600px) {
  .Header {
    padding: 0 12.5rem;

    .LogoImg {
      width: 95%;
    }
  }
}

@media (max-width: 1024px) {
  .Header {
    padding: 0 9.5rem;
  }
}

@media (max-width: 928px) {
  .Header {
    padding: 0 6.25rem;
  }
}

@media (max-width: 688px) {
  .Header {
    padding: 0 1.5rem;

    .HeaderLinksWrapper {
      display: none !important;
    }

    .HeaderDrawer {
      display: inline;
    }

    .LogoImg {
      width: 80%;
    }
  }
}
