* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --white: #fff;
  --grey-50: #f7f8fa;
  --red: #b66767;
  --red-dark: #9b5858;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
    /* 15px */
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
    /* 14px */
  }
}

@media (max-width: 540px) {
  html {
    font-size: 81.25%;
    /* 13px */
  }
}

@media (max-width: 360px) {
  html {
    font-size: 75%;
    /* 12px */
  }
}

body {
  background: var(--grey-50);
}
